@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

header {
  width: 100%;
  height: 64px;
}
@media (min-width: 768px) {
  header {
    height: 96px;
  }
}
@media (min-width: 1440px) {
  header {
    height: 96px;
    margin-left: 170px;
    margin-right: 170px;
    width: calc(100% - 340px);
  }
}
header div.head {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  header div.head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0px;
  }
}
@media (min-width: 1440px) {
  header div.head {
    justify-content: flex-start;
  }
}
header div.head button.burger {
  margin-left: 32px;
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  header div.head button.burger {
    display: none;
  }
}
header div.head button.burger img.burger {
  height: 100%;
  width: 100%;
}
header div.head h4 {
  margin: auto;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  color: #495567;
  text-align: center;
}
@media (min-width: 768px) {
  header div.head h4 {
    margin: 0px;
  }
}
header div.head nav {
  display: none;
}
@media (min-width: 768px) {
  header div.head nav {
    display: block;
    display: flex;
    justify-content: space-around;
    font-family: "Space Mono", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    color: #495567;
  }
  header div.head nav ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
  }
  header div.head nav ul a {
    text-decoration: none;
  }
}
@media (min-width: 1440px) {
  header div.head nav {
    margin-left: 60px;
  }
}
header div.head button.mainButton {
  display: none;
}
@media (min-width: 768px) {
  header div.head button.mainButton {
    display: block;
  }
}
@media (min-width: 1440px) {
  header div.head button.mainButton {
    display: block;
    margin-inline-start: auto;
  }
}

a:hover {
  transition: color 0.3s ease;
  color: #FCB72B;
}

.html {
  height: 100%;
}

footer {
  max-height: 758px;
  overflow: hidden;
}

.footer1 .flex-container {
  display: flex;
  width: 100%;
  height: 320px;
  background-color: #495567;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer1 .flex-container h4 {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-align: center;
}

.footer1 .flex-container h4 span {
  width: 100%;
  white-space: nowrap;
}

.flex-container .appstore-container img {
  position: relative;
  padding-top: 40px;
  display: inline-block;
  padding-left: 6.43px;
  padding-right: 6.43px;
  z-index: 10;
  cursor: pointer;
}

.footer2 .flex-container2 {
  position: relative;
  display: flex;
  width: 100%;
  height: 438px;
  background-color: #333A44;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.footer2 .flex-container2 h4 {
  width: 100%;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-bottom: 41px;
}

.footer2 .flex-container2 a {
  text-decoration: none;
}

.footer2 .flex-container2 p {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}

.footer2 .flex-container2 .social-network {
  padding-top: 85px;
}

.footer2 .flex-container2 .social-network img {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

footer .left-circle {
  position: relative;
  width: 347px;
  height: 347px;
  border: 15px solid #939CAA;
  border-radius: 50%;
  bottom: 611.5px;
  right: 180px;
  opacity: 0.1;
}

footer .middle-circle {
  position: relative;
  width: 347px;
  height: 347px;
  background-color: #939CAA;
  border-radius: 50%;
  bottom: 958.5px;
  left: 201.5px;
  opacity: 0.1;
}

footer .right-circle {
  position: relative;
  width: 347px;
  height: 347px;
  background-color: #939CAA;
  border-radius: 50%;
  bottom: 1305.5px;
  left: 604.5px;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  footer {
    height: 396px;
  }
  .footer1 {
    height: 300px;
  }
  footer .left-circle {
    bottom: 249.5px;
  }
  footer .middle-circle {
    background-color: transparent;
    border: 15px solid #939CAA;
    bottom: 596.5px;
  }
  footer .right-circle {
    bottom: 943.5px;
    opacity: 0.1;
  }
  .footer1 .flex-container h4 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }
  .footer1 .flex-container h4 span {
    white-space: normal;
  }
  .footer2 {
    height: 96px;
  }
  .footer2 .flex-container2 {
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .footer2 .flex-container2 h4 {
    width: auto;
    text-align: left;
    padding: 0px;
    padding-left: 39px;
    padding-right: 42.58px;
  }
  .footer2 .flex-container2 .pages-menu {
    height: 100%;
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
  }
  .footer2 .flex-container2 a {
    height: 100%;
  }
  .footer2 .flex-container2 p {
    font-size: 15px;
    line-height: 25px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 32px;
    padding-top: 39px;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
  }
  .footer2 .flex-container2 .social-network {
    display: flex;
    padding: 0;
    justify-content: flex-end;
    flex-grow: 4;
    padding-right: 39px;
  }
  .footer2 .flex-container2 .social-network img {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1440px) {
  .footer1 .flex-container {
    height: 300px;
    flex-direction: row;
  }
  .footer1 .flex-container .appstore-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 336px;
    padding-right: 165px;
  }
  .footer1 .flex-container h4 {
    text-align: left;
    padding-left: 165px;
  }
  .footer1 .flex-container .appstore-container img {
    height: 40px;
    transform: scale(1.4);
    padding: 0;
    padding-left: 38.83px;
    padding-right: 20.83px;
  }
  .footer2 .flex-container2 h4 {
    padding-left: 165px;
  }
  .footer2 .flex-container2 .social-network {
    justify-content: flex-end;
    text-align: left;
    flex-grow: 5;
    padding-right: 165px;
  }
  footer .left-circle {
    right: 0px;
    left: 460px;
  }
  footer .middle-circle {
    left: 842px;
  }
  footer .right-circle {
    left: 1245px;
  }
}
button.mainButton {
  background-color: #FCB72B;
  border: none;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: white;
  line-height: 25px;
  height: 53px;
  width: 180px;
  cursor: pointer;
}

button.mainButton:hover {
  background-color: transparent;
  border: 1.5px solid #FCB72B;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: #FCB72B;
  line-height: 25px;
  height: 53px;
  width: 180px;
  cursor: pointer;
}

.circle-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .circle-info {
    justify-content: center;
    align-items: center;
  }
}

.circle-info {
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .circle-info .left-text {
    padding-top: 120px;
    margin-left: 170px;
    margin-right: 170px;
    width: calc(100% - 340px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.circle-info .left-text .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
@media screen and (min-width: 1440px) {
  .circle-info .left-text .text {
    align-items: self-start;
    margin: 0;
  }
}
.circle-info .left-text .text h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  color: #495567;
  text-align: center;
  margin: 56px 32px 0px 32px;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .text h2 {
    width: 100%;
    padding-right: 155px;
    padding-left: 155px;
  }
}
@media screen and (min-width: 1440px) {
  .circle-info .left-text .text h2 {
    width: 445px;
    padding: 0;
    margin: 0;
    text-align: left;
  }
}
.circle-info .left-text .text p {
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #939CAA;
  text-align: center;
  margin: 32px;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .text p {
    width: 100%;
    padding-right: 98px;
    padding-left: 98px;
  }
}
@media screen and (min-width: 1440px) {
  .circle-info .left-text .text p {
    width: 445px;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 40px;
    margin: 0;
    text-align: left;
  }
}
.circle-info .left-text .container {
  margin-top: 72px;
  max-width: 100%;
}
@media screen and (min-width: 1440px) {
  .circle-info .left-text .container {
    margin: 0;
  }
}
.circle-info .left-text .container .circle-arrow-bot-top {
  display: flex;
  justify-content: center;
}
.circle-info .left-text .container .circle-arrow-bot-top .circle-image {
  position: relative;
  width: 311px;
  height: 311px;
  border-radius: 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .container .circle-arrow-bot-top .circle-image {
    width: 445px;
    height: 445px;
    background-size: cover;
  }
}
.circle-info .left-text .container .circle-arrow-bot-top .circle-image img {
  max-width: 768px;
  position: relative;
  transform: rotate(180deg);
  top: 134px;
  right: 5px;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .container .circle-arrow-bot-top .circle-image img {
    max-width: 1440px;
    right: 140px;
    top: 250px;
  }
}
.circle-info .left-text .container .circle-arrow-bot-bot {
  display: flex;
  justify-content: center;
}
.circle-info .left-text .container .circle-arrow-bot-bot .circle-image {
  position: relative;
  width: 311px;
  height: 311px;
  border-radius: 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .container .circle-arrow-bot-bot .circle-image {
    width: 445px;
    height: 445px;
    background-size: cover;
  }
}
.circle-info .left-text .container .circle-arrow-bot-bot .circle-image img {
  max-width: 768px;
  position: relative;
  transform: scaleX(-1);
  top: 134px;
  right: 5px;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .container .circle-arrow-bot-bot .circle-image img {
    max-width: 1440px;
    right: 140px;
    top: 250px;
  }
}
.circle-info .left-text .container .circle-arrow-top-left {
  display: flex;
  justify-content: center;
}
.circle-info .left-text .container .circle-arrow-top-left .circle-image {
  position: relative;
  width: 311px;
  height: 311px;
  border-radius: 50%;
  background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .container .circle-arrow-top-left .circle-image {
    width: 445px;
    height: 445px;
    background-size: cover;
  }
}
.circle-info .left-text .container .circle-arrow-top-left .circle-image img {
  max-width: 768px;
  position: relative;
  right: 575px;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .container .circle-arrow-top-left .circle-image img {
    max-width: 1440px;
    right: 1268px;
  }
}
.circle-info .left-text .container .circle-arrow-top-right {
  display: flex;
  justify-content: center;
}
.circle-info .left-text .container .circle-arrow-top-right .circle-image {
  position: relative;
  width: 311px;
  height: 311px;
  border-radius: 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .container .circle-arrow-top-right .circle-image {
    width: 445px;
    height: 445px;
    background-size: cover;
  }
}
.circle-info .left-text .container .circle-arrow-top-right .circle-image img {
  max-width: 768px;
  position: relative;
  transform: scaleX(-1);
  left: 125px;
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .container .circle-arrow-top-right .circle-image img {
    max-width: 1440px;
    top: 85px;
    left: 250px;
  }
}
@media screen and (min-width: 768px) {
  .circle-info .left-text .circle-gray {
    position: absolute;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background-color: #E5ECF4;
    left: 508px;
  }
}
@media screen and (min-width: 1440px) {
  .circle-info .right-text {
    padding-top: 120px;
    margin-left: 170px;
    margin-right: 170px;
    width: calc(100% - 340px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.circle-info .right-text .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
@media screen and (min-width: 1440px) {
  .circle-info .right-text .text {
    align-items: self-start;
    margin: 0;
  }
}
.circle-info .right-text .text h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  color: #495567;
  text-align: center;
  margin: 56px 32px 0px 32px;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .text h2 {
    width: 100%;
    padding-right: 155px;
    padding-left: 155px;
  }
}
@media screen and (min-width: 1440px) {
  .circle-info .right-text .text h2 {
    width: 445px;
    padding: 0;
    margin: 0;
    text-align: left;
  }
}
.circle-info .right-text .text p {
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #939CAA;
  text-align: center;
  margin: 32px;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .text p {
    width: 100%;
    padding-right: 98px;
    padding-left: 98px;
  }
}
@media screen and (min-width: 1440px) {
  .circle-info .right-text .text p {
    width: 445px;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 40px;
    margin: 0;
    text-align: left;
  }
}
.circle-info .right-text .container {
  margin-top: 72px;
  max-width: 100%;
}
@media screen and (min-width: 1440px) {
  .circle-info .right-text .container {
    margin: 0;
  }
}
.circle-info .right-text .container .circle-arrow-bot-top {
  display: flex;
  justify-content: center;
}
.circle-info .right-text .container .circle-arrow-bot-top .circle-image {
  position: relative;
  width: 311px;
  height: 311px;
  border-radius: 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .container .circle-arrow-bot-top .circle-image {
    width: 445px;
    height: 445px;
    background-size: cover;
  }
}
.circle-info .right-text .container .circle-arrow-bot-top .circle-image img {
  max-width: 768px;
  position: relative;
  transform: rotate(180deg);
  top: 134px;
  right: 5px;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .container .circle-arrow-bot-top .circle-image img {
    max-width: 1440px;
    right: 140px;
    top: 250px;
  }
}
.circle-info .right-text .container .circle-arrow-bot-bot {
  display: flex;
  justify-content: center;
}
.circle-info .right-text .container .circle-arrow-bot-bot .circle-image {
  position: relative;
  width: 311px;
  height: 311px;
  border-radius: 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .container .circle-arrow-bot-bot .circle-image {
    width: 445px;
    height: 445px;
    background-size: cover;
  }
}
.circle-info .right-text .container .circle-arrow-bot-bot .circle-image img {
  max-width: 768px;
  position: relative;
  transform: scaleX(-1);
  top: 134px;
  right: 5px;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .container .circle-arrow-bot-bot .circle-image img {
    max-width: 1440px;
    right: 140px;
    top: 250px;
  }
}
.circle-info .right-text .container .circle-arrow-top-left {
  display: flex;
  justify-content: center;
}
.circle-info .right-text .container .circle-arrow-top-left .circle-image {
  position: relative;
  width: 311px;
  height: 311px;
  border-radius: 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .container .circle-arrow-top-left .circle-image {
    width: 445px;
    height: 445px;
    background-size: cover;
  }
}
.circle-info .right-text .container .circle-arrow-top-left .circle-image img {
  max-width: 768px;
  position: relative;
  right: 575px;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .container .circle-arrow-top-left .circle-image img {
    max-width: 1440px;
    right: 1268px;
  }
}
.circle-info .right-text .container .circle-arrow-top-right {
  display: flex;
  justify-content: center;
}
.circle-info .right-text .container .circle-arrow-top-right .circle-image {
  position: relative;
  width: 311px;
  height: 311px;
  border-radius: 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .container .circle-arrow-top-right .circle-image {
    width: 445px;
    height: 445px;
    background-size: cover;
  }
}
.circle-info .right-text .container .circle-arrow-top-right .circle-image img {
  max-width: 768px;
  position: relative;
  transform: scaleX(-1);
  left: 125px;
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .container .circle-arrow-top-right .circle-image img {
    max-width: 1440px;
    top: 85px;
    left: 250px;
  }
}
@media screen and (min-width: 768px) {
  .circle-info .right-text .circle-gray {
    position: absolute;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    background-color: #E5ECF4;
    right: 508px;
  }
}

.underHeader {
  height: 650px;
  background-image: url(/images/backgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;
}
@media (min-width: 768px) {
  .underHeader {
    padding-left: 98px;
    padding-right: 98px;
  }
}
@media (min-width: 1440px) {
  .underHeader {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
    align-items: start;
    padding-top: 153px;
  }
}
.underHeader h3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: white;
}
@media (min-width: 768px) {
  .underHeader h3 {
    color: white;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }
}
@media (min-width: 1440px) {
  .underHeader h3 {
    margin-left: 165px;
    width: 500px;
    height: 112px;
    text-align: left;
  }
}
.underHeader p {
  margin-top: 24px;
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  margin-bottom: 34px;
}
@media (min-width: 1440px) {
  .underHeader p {
    margin-left: 260px;
    width: 405px;
    height: 100px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .underHeader button.mainButton {
    margin-left: 260px;
  }
}
.underHeader div.arrow {
  display: block;
  position: absolute;
  left: -300px;
  bottom: 34px;
}
@media (min-width: 768px) {
  .underHeader div.arrow {
    left: -150px;
    bottom: 39px;
  }
}
@media (min-width: 1440px) {
  .underHeader div.arrow {
    left: 705px;
    bottom: 158px;
  }
}
.underHeader div.circles {
  display: none;
}
@media (min-width: 768px) {
  .underHeader div.circles {
    position: absolute;
    display: block;
    bottom: 39px;
    right: -25px;
  }
}
@media (min-width: 1440px) {
  .underHeader div.circles {
    right: -45px;
    bottom: 158px;
  }
}
.underHeader div.arrow2 {
  display: none;
}
@media (min-width: 1440px) {
  .underHeader div.arrow2 {
    display: block;
    position: relative;
    right: 255px;
    bottom: 280px;
    transform: rotate(180deg);
  }
}

.underHeaderUsual {
  display: flex;
  justify-content: center;
  height: 160px;
  align-items: center;
  color: white;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  background-image: url(/images/abo.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .underHeaderUsual {
    justify-content: flex-start;
    height: 200px;
    padding-left: 97px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }
}
@media (min-width: 1440px) {
  .underHeaderUsual {
    justify-content: flex-start;
    padding-left: 165px;
  }
}
.underHeaderUsual div.circles {
  display: none;
}
@media (min-width: 768px) {
  .underHeaderUsual div.circles {
    position: absolute;
    display: block;
    bottom: 75px;
    right: -25px;
  }
}

.ourValues {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
}
@media (min-width: 768px) {
  .ourValues {
    margin-left: 155px;
    margin-right: 155px;
    width: calc(100% - 310px);
  }
}
@media (min-width: 1440px) {
  .ourValues {
    margin-left: 155px;
    margin-right: 155px;
    width: calc(100% - 310px);
    flex-direction: column;
  }
}
.ourValues h1 {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.43px;
  color: #495567;
}
@media (min-width: 768px) {
  .ourValues h1 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }
}
.ourValues h4 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  color: #495567;
}
.ourValues .cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .ourValues .cards {
    flex-direction: row;
    gap: 30px;
  }
}
.ourValues .card {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ourValues .card .group {
  position: relative;
  height: 288px;
  width: 240px;
}
.ourValues .card .group div.yellowCircle {
  display: flex;
  position: absolute;
  background-color: #fcbf49; /* Adjust the color to your design */
  color: #495567; /* Adjust text color */
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  align-items: center;
  padding: 20px;
  text-align: center;
  bottom: 20px;
  left: 85px;
}
.ourValues .card .group div.yellowCircle h1 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
}
.ourValues p {
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #495567;
  text-align: center;
}

.way {
  margin-left: 32px;
  margin-right: 32px;
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .way {
    margin-left: 97px;
    margin-right: 97px;
    width: calc(100% - 194px);
    margin-top: 122px;
    margin-bottom: 145px;
  }
}
@media (min-width: 1440px) {
  .way {
    margin-left: 165px;
    margin-right: 155px;
    width: calc(100% - 320px);
    flex-direction: column;
    margin-top: 160px;
    margin-bottom: 202px;
  }
}
.way .line {
  display: none;
}
@media (min-width: 768px) {
  .way .line {
    display: block;
    position: absolute;
    height: 635px;
    width: 15px;
    background-color: #939CAA;
    top: -123px;
    left: 42px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .way .line {
    display: block;
    position: absolute;
    height: 15px;
    width: calc(100% - 165px);
    background-color: #939CAA;
    border-radius: 20px;
    top: 48px;
    left: -170px;
    z-index: -1;
  }
}
.way .boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (min-width: 1440px) {
  .way .boxes {
    flex-direction: row;
    width: 100%;
    gap: 30px;
  }
}
.way .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .way .box img.wayCircle {
    height: 96px;
    width: 96px;
  }
}
@media (min-width: 768px) {
  .way .box {
    display: flex;
    flex-direction: row;
    gap: 79px;
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .way .box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
}
.way .box .text {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .way .box .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    height: 130px;
    width: 400px;
  }
}
@media (min-width: 1440px) {
  .way .box .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    height: 155px;
    width: 350px;
    margin: 0;
  }
}
.way .box .text h4 {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -1.43px;
  color: #495567;
}
.way .box .text p {
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #939CAA;
}

.jobs {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 145px;
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 120px;
}
@media (min-width: 768px) {
  .jobs {
    margin-left: 39px;
    margin-right: 40px;
    width: calc(100% - 79px);
  }
}
@media (min-width: 1440px) {
  .jobs {
    margin-left: 165px;
    margin-right: 155px;
    width: calc(100% - 320px);
    flex-direction: column;
    margin-bottom: 160px;
  }
}
.jobs .job {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 36px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F5F9;
}
@media (min-width: 768px) {
  .jobs .job {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 34px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.jobs .job article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .jobs .job article {
    align-items: flex-start;
    width: 314px;
  }
}
@media (min-width: 1440px) {
  .jobs .job article {
    width: 650px;
  }
}
.jobs .job article h1 {
  font-family: "Space Mono", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: #495567;
}
@media (min-width: 768px) {
  .jobs .job article h1 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }
}
.jobs .job article p {
  font-size: 15px;
  line-height: 25px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #495567;
}
.jobs .job .mainButton {
  width: 100%;
}
@media (min-width: 768px) {
  .jobs .job .mainButton {
    width: 180px;
  }
}/*# sourceMappingURL=styles.css.map */