@use 'colors';
@use 'typography' as *;

button.mainButton{
    background-color: colors.$yellow;
    border: none;
    @include space-mono( 700, normal);
    font-size: 15px;
    color:white;
    line-height: 25px;
    padding: 14px 44px;
    min-width: 180px;
    min-height: 53px;
    cursor: pointer;
    &:hover{
        background-color:transparent;
        border: 1.5px solid colors.$yellow;
        color:colors.$yellow;
    }
}
