@use 'colors';
@use 'typography' as *;

button{
    background-color: colors.$yellow;
    border: none;
    @include space-mono( 700, normal);
    font-size: 15px;
    color:white;
    line-height: 25px;
    height: 53px;
    width: 180px;
    cursor: pointer;
}

button:hover {
    background-color:transparent;
    border: 1.5px solid colors.$yellow;
    @include space-mono( 700, normal);
    font-size: 15px;
    color:colors.$yellow;
    line-height: 25px;
    height: 53px;
    width: 180px;
    cursor: pointer;
}