@use 'colors';
@use 'typography';


@mixin h1-style {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    font-family: typography.$space-mono-font;
    font-weight: 700;
    font-style: normal;
    color: colors.$darkNavy;
  }



  @mixin h2-style {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    font-family: $space-mono-font;
    font-weight: 700;
    font-style: normal;
  }

  @mixin h3-style {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
    font-family: $space-mono-font;
    font-weight: 700;
    font-style: normal;
  }
  @mixin h4-style {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    font-family: $space-mono-font;
    font-weight: 700;
    font-style: normal;
  }
  @mixin p-style {
    font-size: 15px;
    line-height: 25px;
    font-family: $lexend-deca-font;
    font-weight: 400;
    font-style: normal;
  }

